# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
.venv/
ENV/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.tmp

# macOS
.DS_Store

# Windows
Thumbs.db

# Python packaging
*.egg-info/
.eggs/
dist/
build/

# Pytest
.cache/
postgres_data/